:root {
   --main-color: #19c8fa;
   --transparent-color: rgb(15 116 143 / 70%);
   --section-padding: 100px;
}
/* start Global Rules */
* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
html {
   scroll-behavior: smooth;
}
body {
   font-family: 'Open Sans', sans-serif;
}
ul {
   list-style: none;
}
.container {
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
   
}
/* small screen */
@media (min-width: 768px) {
   .container{
      width: 750px;
   }
}
/* medium screen */
@media (min-width: 992px) {
   .container{
      width: 970px;
   }
}
/* Large screen */
@media (min-width: 1200px) {
   .container{
      width: 1170px;
   }
}
/* Start components  */
.main-heading {
   text-align: center;
}
.main-heading h2 {
   font-weight: normal;
   font-size: 40px;
   position: relative;
   margin-bottom: 70px;
   text-transform: uppercase;
}
.main-heading h2::before {
   content: '';
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   height: 2px;
   background-color: #333;
   bottom: -30px;
   width: 120px;
}
.main-heading h2::after {
   content: '';
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   width: 14px;
   height: 14px;
   border-radius: 50%;
   border: 2px solid #333;
   bottom: -38px;
   background-color: white;
}
.main-heading p {
   width: 550px;
   margin: 0 auto 100px;
   max-width: 100%;
   line-height: 2;
   color: #777;
}
/* End components */
/* Start Contact  */
.contact {
   padding-top: var(--section-padding);
   padding-bottom: var(--section-padding);
   background-color: #F7ECDE;
}
.contact .content {
   display: flex;
   justify-content: space-between;
}
@media (max-width: 767px) {
   .contact .content {
      flex-direction: column;
   }
}
.contact .content form {
   flex-basis: 70%;
}
.contact .content form .main-input {
   padding: 20px;
   display: block;
   border: 1px solid #ccc;
   margin-bottom: 30px;
   width: 100%;
}
.contact .content form textarea.main-input {
   height: 200px;
}
.contact .content form input[type="submit"] {
   background-color: red;
   color: white;
   padding: 20px;
   border: none;
   display: flex;
   margin-left: auto;
   text-transform: uppercase;
   cursor: pointer;
}
.contact .content .info {
   flex-basis: 25%;
}
@media (max-width: 767px) {
   .contact .content .info {
      order: -1;
      text-align: center;
   }
}
.contact .content .info h4 {
   text-transform: uppercase;
   margin-bottom: 30px;
   font-weight: bold;
   font-size: 18px;
   color: red;
}
.contact .content .info .phone {
   display: block;
   color: black;
   margin-bottom: 10px;
}
.contact .content .info h4:nth-of-type(2) {
   margin-top: 90px;
}
@media (max-width: 767px) {
   .contact .content .info h4:nth-of-type(2) {
      margin-top: 30px;
   }
}
.contact .content .info address {
   color: black;
   line-height: 2;
}
@media (max-width: 767px) {
   .contact .content .info address {
      margin-bottom: 40px;
   }
}
.contact .container .main-heading {
   color: red;
}
/* End Contact */