body {
    /* background-color: #0082e6; */
    background: linear-gradient(120deg,#6f7176, #000000);
}
.box {
    box-sizing: border-box ;
    width: 360px;
    height: 600px;
    border: 2px solid #3498db;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
    border-radius: 5px;
    background-color:black ;
    margin-top: 50px;
    overflow: hidden;
}

img {
    box-sizing: border-box ;
    width: 149px;
    border-radius: 50%;
    margin:0 ;
    padding : 5px solid #0082e6;
    background-color: white;
}

input[type="text"] ,
input[type=email]
{
    display: block;
    box-sizing: border-box;
    color: #3498db;
    margin-bottom: 30px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #0082e6;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;  
    background-color: black;
}

input:focus {
    border-bottom: 2px solid #3498db;
    border-bottom-right-radius: 20px;
    color: #3498db;
    transition: 0.2s ease;
}

button {
    border: 1px;
    background-color: #3a6cf4;
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    margin: 0;
    transition: all 0.3s;
}

button:hover {
    transform: scale(1.1);
}

input[type="file"] {
    display: none;
}

label {
    box-sizing: border-box;
    font-size: 20px;
    background-color: black;
    color: white;
    border:1px solid #3498db;
    padding: 2px 15px;
    border-radius: 5px;
    transition: all 0.3s;
}

label:hover {
    background-color: #3498db;
    color: black;
}

select {
    display: block;
    box-sizing: border-box;
    color: #3498db;
    margin-bottom: 30px;
    padding: 4px;
    border: none;
    border-bottom: 1px solid #0082e6;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;  
    background-color: black;
    position: relative;
    bottom: -20px;
    
}


.cancel {
    float: left;
    margin: 10px 0 0 18.2%;
    cursor: pointer;
}

.done {
    float: right;
    margin: 10px 18.2% 0 0 ;
    cursor: pointer;
}